<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="helloBean" class="com.cts.beans.HelloBean" scope="thread">
        	
        </bean>
        <bean id="threadScope" class="com.cts.scopes.ThreadScope"/>
        <bean id="scopeConfigure" class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
           <map>
           		<entry key="thread" value-ref="threadScope"></entry>
           </map>
        </property>
        </bean>
</beans>