<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="stdBean" class="com.cts.beans.Student">
        	<property name="sid" value="S-111"></property>
        	<property name="sname" value="Durga"></property>
        	<property name="saddr" value="Gujrat"></property>
        	
        </bean>
</beans>